/* Small Screens - less than 600px */
body{
    background-color: rgb(255, 255, 255);
}

/* Apply to all CSS */
.my-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "hd"
    "auth"
    "main"
    "ft";
    /* border: 1px solid rgb(0, 0, 0); */
    /* color: #fffff8; */
    text-align: left;
    align-content: center;
    justify-content: space-around;
}

.box{
    border:2px solid black;
}

/* Header */
.header{
    grid-area: hd;
    background-color: navy;
}

.blog-title-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    
}
.blog-title{
    color: orange;
    font:bold underline italic Roboto sans-serif;
    overflow-wrap: break-word;
    white-space: normal;
}

a.home-link{
    color: orange;
}



/* Author Info */
.author{
    grid-area: auth;
    background-color: rgb(170,170,170);
}

.author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 2px;
}

.author-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 80%; */
    min-height:150px;
    max-height:300px;
    min-width: 100px;
    max-width: 200px;
    background-image: url(../images/me-author.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.author-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul.author-info{
    margin: 3px;
    padding-left: 10px
}

p.author-info{
    margin: 2px 2px;
}

h3.author-info{
    margin: 2px 2px;
    color: rgb(182, 120, 5);
}

a.author-info{
    margin: 2px 2px;
}

/* Blog-Area */
.blog{
    grid-area: main;
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Saints-Brees-Hill.jpg);
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 20px;
}

h2.blog-title{
    text-align: left;
}

.blog-date{
    text-align: left;
    margin-top: 2px;
    margin-bottom: 5px;
}

.main-blog{
    text-align: left;
    margin: 8px 8px;
}
/* Footer */
.footer{
    grid-area: ft;
}

.footer-container{
    display: inline-block;
    text-align: center;
    background-color: navy;
}
a.linking-to-home{
    width: 100%;
    color: orange;
}