/* Small Screens - less than 600px */
body{
    background-color: rgb(255, 255, 255);
}

.my-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 150px 1fr 200px 80px;
    grid-template-areas:
    "hd"
    "sd"
    "main"
    "fav"
    "ft";
    /* border: 1px solid rgb(0, 0, 0); */
    /* color: #fffff8; */
    text-align: center;
    align-content: center;
    justify-content: space-around;
}

/* Header  CSS */
.header{
    grid-area: hd;  
}

h1.title{
    text-align:center;
}

/* Sidebar Menu CSS */
.sidebar{
    grid-area: sd;
    font: Roboto sans-serif;
}

.sidebar-container{
    /* Need to make the sidebar horizontal instead of vertical */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2.sidebar{
    margin-block-start: 0.5rem;
    margin-block-end:0.3rem;
}

.menu-item{
    font: 12px Roboto sans-serif;
    color:rgb(86, 221, 23);
    text-align:center;
}
div.mdc-list-group{
    margin: 0 1.5rem;
}
h4.mdc-list-group__subheader{
    color:rgb(158, 143, 2);
    margin:0.1rem;

}

li.mdc-list-item{
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    width: auto;
    height: 20px;
}

li.mdc-list-item:hover{
    background-color: silver;
}

a.text-12{
    text-decoration: none;
    font: 12px Roboto sans-serif;
    text-align:center;
}

/* Main content CSS */
.content{
    grid-area: main;
}

.blog-area{
    display: grid;
    grid-template-columns: 90%;
    grid-row: 90%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color:#fff;
    justify-content: space-around;
}

.blog-box{
    /* border: 2px solid rgb(0, 0, 0);  */
    /* padding: 20px; */
    border-radius:10px;
    /* color: rgb(0, 0, 0); */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.blog-box-image{
    display: flex;
    height: 70%;
    background-size: contain;
    min-height: 100px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog-upper-left-image{
    background-image: url("../images/NHL-All-Stars.jpg");
    
}

.blog-upper-right-image{
    background-image: url("../images/Apex-blog-season-4.jpg");

}

.blog-lower-left-image{
    background-image: url("../images/Oscars.jpg");

}

.blog-lower-right-image{
    background-image: url("../images/Saints-Brees-Hill.jpg");

}

a.blog-title{
    font: 25px Roboto sans-serif bold italic;
    color: rgb(0, 0, 0);
    max-width: 90%;
    
}

.blog-title:hover{
    cursor: pointer;
}
.blog-description{
    display: block;
    height: 20%;
    max-width:90%;
    font: 12px Roboto sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }


a.blog-link{
    display:flex;
    height: 10%;
    font: 12px Roboto sans-serif;
    color: blue;
}
/* Favorites area CSS */
.favs{
    grid-area: fav;
    justify-self: center;
    width:100%;
    height:100%;
}

h3.favorites{
    text-align: center;
    margin-block-start: 0.5rem;
    margin-block-end:0.3rem;
}

.favs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container{
    display: flex;
    width: 100%;
    min-height:100px;
    max-height:400px;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
}

.image-container-label{
    font: 14px Roboto  sans-serif;
    text-align: center;
}

.fav-images{
    background-size: contain;
    min-height: 100px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-position: center center; 
}
.fav-team-image{
    background-image: url(../images/saints-logo-2.jpeg);
}
.fav-game-image{
    background-image: url(../images/apex-logo-3.jpeg);
}

.fav-movie-image{
    background-image: url(../images/interstellar-logo-4.jpeg);
}


/* Footer  CSS */
.footer{
    grid-area: ft;
    justify-content: space-around;
    align-content: space-around;
}

/* Apply to all CSS */
.box{
    border: 2px solid rgb(158, 143, 2);
}



/* Medium Screens - between 600px and 900px */
@media(min-width: 600px) and (max-width: 900px){
    .my-container {
        display: grid;
        grid-template-columns: 90px 3fr 3fr 3fr;
        grid-template-rows: 80px 11fr 4fr 80px;
        grid-template-areas:
        "hd hd hd hd"
        "sd main main main"
        "fav fav fav fav"
        "ft ft ft ft";
        border: 2px solid rgb(158, 143, 2);
        /* color: #fffff8; */
        text-align: center;
    }

    .sidebar-container{
        /* Go vertical, set the display to grid and this will work as intended */
        display: grid;
    }

    .blog-area{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-row: 45% 45%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color:#fff;
        justify-content: space-around;
    }

    /* div.mdc-list-group{
        margin: 0;
    } */
}


/* Large Screens - Greater than 900px */
@media(min-width: 901px){
    .my-container {
        display: grid;
        grid-template-columns:  90px 3fr 3fr 3fr 1.5fr;
        grid-template-rows: 80px 15fr 80px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd main main main fav"
        "ft ft ft ft ft";
        border: 2px solid rgb(158, 143, 2);
        /* color: #fffff8; */
        text-align: center;
    }
    .sidebar-container{
        /* Go vertical, set the display to grid and this will work as intended */
        display: grid;
    }

    .favs-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .blog-area{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-row: 45% 45%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color:#fff;
        justify-content: space-around;
    }
}