/* Small Screens - less than 600px */
body{
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 9fr 4fr 2fr;
    grid-template-areas:
    "hd hd hd hd"
    "sd sd sd sd"
    "main main main main"
    "five five five five"
    "ft ft ft ft";
    border: 2px solid rgb(158, 143, 2);
    color: #fffff8;
}

.header{
    grid-area: hd;
}

.sidebar{
    grid-area: sd;
}

.content{
    grid-area: main;
}

.topFive{
    grid-area: five;
}

.footer{
    grid-area: ft;
}

.box{
    border: 2px solid rgb(158, 143, 2);
}


/* Medium Screens - between 600px and 900px */
@media(min-width: 600px) and (max-width: 900px){
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr;
        grid-template-rows: 3fr 11fr 4fr 2fr;
        grid-template-areas:
        "hd hd hd hd"
        "sd main main main"
        "five five five five"
        "ft ft ft ft";
        border: 2px solid rgb(158, 143, 2);
        color: #fffff8;
    }
}


/* Large Screens - Greater than 900px */
@media(min-width: 901px){
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 1.5fr;
        grid-template-rows: 3fr 15fr 2fr;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd main main main five"
        "ft ft ft ft ft";
        border: 2px solid rgb(158, 143, 2);
        color: #fffff8;
    }
}