/* Large Screens - Greater than 900px */
@media(min-width: 901px){
    .my-container {
        display: grid;
        grid-template-columns:  90px 3fr 3fr 3fr 150px;
        grid-template-rows: 80px 1fr 80px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd main main main fav"
        "ft ft ft ft ft";
        border: 2px solid rgb(158, 143, 2);
        /* color: #fffff8; */
        text-align: center;
    }
    .sidebar-container{
        /* Go vertical, set the display to grid and this will work as intended */
        display: grid;
    }

    .favs-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .blog-area{
        display: grid;
        grid-template-columns: minmax(25% 45%);
        grid-column-gap: 20px;
        background-color:#fff;
        justify-content: space-around;
    }
}