/* Footer  CSS */
.footer{
    grid-area: ft;
    justify-content: space-around;
    align-content: space-around;
    background-color: navy;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width:100%;
}

a.footer-links{
    color: rgb(236, 156, 5);
}

.btn{
    color: orange;
}